/* .row {
  display: flex;
}
.box {
  width: 180px;
  height: 180px;
  background-color: rgb(63, 103, 103);
  color: bisque;
  border: solid 4px floralwhite;
  img {
    width: 100%;
    height: auto;
  }
}
.box:hover {
  cursor: pointer;
} */
.container {
  width: 30%;
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(3, 10vw);
}
.box {
  background-color: rgb(102, 123, 123);
  border: solid;
}
