.container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.history {
  width: 30%;
}
.titleWinner {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  img {
    height: 40px;
    width: 40px;
  }
  span {
    color: aqua;
    margin: 5px;
  }
}
