.button {
  width: 80px;
  height: 40px;
  border: 5px;
  background-color: rgb(143, 187, 187);
  font-size: 15px;
  border-radius: 10px;
}
.button:hover {
  cursor: pointer;
  opacity: 0.8;
}
